In [367]:
#importing the dataset
import pandas as pd
import math
%matplotlib inline

data = pd.read_csv('transformed_data.csv')

data.head(5)

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,department_finishing,actual_productivity,day,quarter_num,department,idle_time?,idle_men?
0,9,0.75,3.94,0.0,960,0,0.0,0,0,8,0,0.755167,Wednesday,1,finishing,False,False
1,7,0.65,30.10,909.0,7080,0,0.0,0,1,59,0,0.535678,Thursday,2,sweing,False,False
2,3,0.80,4.15,0.0,1440,0,0.0,0,0,7,1,0.820833,Wednesday,2,finishing,False,False
3,1,0.65,22.53,762.0,5040,0,0.0,0,1,42,0,0.581131,Wednesday,4,sweing,False,False
4,4,0.70,30.10,767.0,3300,50,0.0,0,1,57,0,0.790003,Monday,2,sweing,False,False

In [368]:
#transforming the day column - from a String to an Int

def day_column():
    day = []
    for index, row in data.iterrows():
        if(row['day'] == "Monday"):
            day.append(1)
        elif (row['day'] == "Tuesday"):
            day.append(2)
        elif (row['day'] == "Wednesday"):
            day.append(3)
        elif (row['day'] == "Thursday"):
            day.append(4)
        elif (row['day'] == "Saturday"):
            day.append(6)
        elif (row['day'] == "Sunday"):
            day.append(7)
    data["day"] = day

day_column()
data.head(5)

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,department_finishing,actual_productivity,day,quarter_num,department,idle_time?,idle_men?
0,9,0.75,3.94,0.0,960,0,0.0,0,0,8,0,0.755167,3,1,finishing,False,False
1,7,0.65,30.10,909.0,7080,0,0.0,0,1,59,0,0.535678,4,2,sweing,False,False
2,3,0.80,4.15,0.0,1440,0,0.0,0,0,7,1,0.820833,3,2,finishing,False,False
3,1,0.65,22.53,762.0,5040,0,0.0,0,1,42,0,0.581131,3,4,sweing,False,False
4,4,0.70,30.10,767.0,3300,50,0.0,0,1,57,0,0.790003,1,2,sweing,False,False

In [369]:
#transforming the department column - from a String to an Int

def department_column():
    department = []
    for index, row in data.iterrows():
        if(row['department'] == "finishing"):
            department.append(1)
        elif (row['department'] == "sweing"):
            department.append(2)

    data["department"] = department

department_column()
data.head(5)

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,department_finishing,actual_productivity,day,quarter_num,department,idle_time?,idle_men?
0,9,0.75,3.94,0.0,960,0,0.0,0,0,8,0,0.755167,3,1,1,False,False
1,7,0.65,30.10,909.0,7080,0,0.0,0,1,59,0,0.535678,4,2,2,False,False
2,3,0.80,4.15,0.0,1440,0,0.0,0,0,7,1,0.820833,3,2,1,False,False
3,1,0.65,22.53,762.0,5040,0,0.0,0,1,42,0,0.581131,3,4,2,False,False
4,4,0.70,30.10,767.0,3300,50,0.0,0,1,57,0,0.790003,1,2,2,False,False

In [370]:
#transforming the idle_time? column - from True/False to 1/0

def idle_time_column():
    time = []
    for index, row in data.iterrows():
        if(row['idle_time?'] == False):
            time.append(0)
        elif (row['idle_time?'] == True):
            time.append(1)

    data["idle_time?"] = time

idle_time_column()
data.head(5)

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,department_finishing,actual_productivity,day,quarter_num,department,idle_time?,idle_men?
0,9,0.75,3.94,0.0,960,0,0.0,0,0,8,0,0.755167,3,1,1,0,False
1,7,0.65,30.10,909.0,7080,0,0.0,0,1,59,0,0.535678,4,2,2,0,False
2,3,0.80,4.15,0.0,1440,0,0.0,0,0,7,1,0.820833,3,2,1,0,False
3,1,0.65,22.53,762.0,5040,0,0.0,0,1,42,0,0.581131,3,4,2,0,False
4,4,0.70,30.10,767.0,3300,50,0.0,0,1,57,0,0.790003,1,2,2,0,False

In [371]:
#transforming the idle_men? column - from True/False to 1/0

def idle_men_column():
    men = []
    for index, row in data.iterrows():
        if(row['idle_men?'] == False):
            men.append(0)
        elif (row['idle_men?'] == True):
            men.append(1)

    data["idle_men?"] = men

idle_men_column()
data.head(5)

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,department_finishing,actual_productivity,day,quarter_num,department,idle_time?,idle_men?
0,9,0.75,3.94,0.0,960,0,0.0,0,0,8,0,0.755167,3,1,1,0,0
1,7,0.65,30.10,909.0,7080,0,0.0,0,1,59,0,0.535678,4,2,2,0,0
2,3,0.80,4.15,0.0,1440,0,0.0,0,0,7,1,0.820833,3,2,1,0,0
3,1,0.65,22.53,762.0,5040,0,0.0,0,1,42,0,0.581131,3,4,2,0,0
4,4,0.70,30.10,767.0,3300,50,0.0,0,1,57,0,0.790003,1,2,2,0,0

In [372]:
#import statements

import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn import tree
import matplotlib.pyplot as plt

In [373]:
#X holds the features of the model

X = pd.concat((data.iloc[:, 0:11], data.iloc[:, 12:]), axis=1)
X.head(5)

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,department_finishing,day,quarter_num,department,idle_time?,idle_men?
0,9,0.75,3.94,0.0,960,0,0.0,0,0,8,0,3,1,1,0,0
1,7,0.65,30.10,909.0,7080,0,0.0,0,1,59,0,4,2,2,0,0
2,3,0.80,4.15,0.0,1440,0,0.0,0,0,7,1,3,2,1,0,0
3,1,0.65,22.53,762.0,5040,0,0.0,0,1,42,0,3,4,2,0,0
4,4,0.70,30.10,767.0,3300,50,0.0,0,1,57,0,1,2,2,0,0

In [374]:
#y holds the target

y = data[['actual_productivity']]
y.head(5)

   actual_productivity
0             0.755167
1             0.535678
2             0.820833
3             0.581131
4             0.790003

In [375]:
#splitting the data into 30% testing and 70% training

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=100)

In [376]:
#fitting the Decision Tree Regression Model (the target variable is continuous)

rgr = tree.DecisionTreeRegressor(random_state=28)
rgr = rgr.fit(X_train, y_train)

In [377]:
#testing the model by calculating the mean squared error

y_pred = rgr.predict(X_test)

# RMSE (Root Mean Square Error)
rmse = float(format(np.sqrt(mean_squared_error(y_test, y_pred)), '.3f'))
print("\nRMSE: ", rmse)

RMSE:  0.171

In [378]:
#graphing the tree

from sklearn.tree import export_graphviz  

export_graphviz(rgr, out_file ='tree_structure.dot', 
               feature_names =['team', 'targeted_productivity', 'smv', 'wip', 'over_time', 'incentive', 'idle_time'
                               , 'idle_men', 'no_of_style_change', '	no_of_workers'
                               , 'department_finishing', 'day', 'quarter_num'
                               , 'department', 'idle_time?', 'idle_men?'])